---
import type { GetStaticPaths } from "astro";
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Pagination from "@components/Pagination.astro";
import BlogCardList from "@components/BlogCardList.astro";
import gcmmhero_scaled_jpg from "@assets/gcmmhero-scaled.jpg";

const gcmmhero_scaled = await getImage({
  src: gcmmhero_scaled_jpg,
  quality: 80,
});

const title = "Blog";
const description = "A list of all blog posts";

export const getStaticPaths = (async ({ paginate }) => {
  const entries = await getCollection(
    "posts",
    (post) => post.data.draft !== true
  );
  const posts = entries.sort(
    (a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf()
  );

  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseLayout {title} {description}>
  <main>
    <div
      class="absolute inset-0 -top-[20%] -z-50 max-h-full lg:-top-1/4"
      style={`background: radial-gradient(ellipse at 50% 0%, rgba(32,8,140,0.75) 1%,#09090b 76%), url(${gcmmhero_scaled.src}); background-size: cover; background-position: center;`}>
    </div>
    <div class="px-6 py-40">
      <h1 class="text-5xl font-black uppercase text-white">{title}</h1>
    </div>
    <BlogCardList posts={page.data} />
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      currentUrl={page.url.current}
      currentPage={page.currentPage}
      lastPage={page.lastPage}
    />

    <!-- <div>
      <div
        class="rounded-md bg-indigo-500 bg-[image:linear-gradient(rgba(88_101_242_/_0.7),_rgba(88_101_242_/_0.7)),_url('/Discord-Logo-White.svg')] bg-[auto,_30%_auto] bg-[10%_50%] bg-no-repeat">
        <div class="flex flex-col items-center gap-2 p-4">
          <div class="text-sm uppercase text-zinc-100">
            Come join our Discord community!
          </div>
          <div>
            <a
              class="bg-red-600 px-3 py-1 text-sm uppercase text-white"
              href="http://discord.ghostcap.com/">Click to join</a
            >
          </div>
        </div>
      </div>
    </div> -->
  </main>
</BaseLayout>
