---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const menuParentCategories = ["gaming", "hardware", "server-hosting", "tools"];

const parentCategories = await getCollection(
  "categories",
  (cat) => cat.data.parentId === 0 && menuParentCategories.includes(cat.id)
);
const subCategories = await getCollection(
  "categories",
  (cat) => cat.data.parentId !== 0
);

const categories = parentCategories.map((category) => {
  return {
    category,
    subCategories: subCategories.filter(
      (cat) => cat.data.parentId === category.data.wpId
    ),
  };
});
---

<nav>
  <button
    class="flex items-center gap-1 md:hidden"
    type="button"
    popovertarget="mobileMenu">
    <Icon class="size-6" name="fa:ellipsis-v" />
    <span class="text-sm uppercase text-zinc-200">Menu</span>
  </button>

  <ul
    id="mobileMenu"
    class="pointer-events-none absolute inset-0 top-16 mx-auto flex max-h-fit max-w-fit -translate-y-96 flex-col gap-1.5 overflow-hidden rounded-md bg-zinc-800/95 px-8 py-4 opacity-0 transition-all duration-500 md:hidden [&:popover-open]:pointer-events-auto [&:popover-open]:translate-y-0 [&:popover-open]:opacity-100"
    popover>
    <li>
      <a
        class="block py-1 text-sm uppercase text-zinc-200"
        href="https://www.ghostcap.com/discord">Discord</a
      >
    </li>
    {
      categories.map((category) => (
        <li class="relative flex items-center gap-1 [&:nth-child(2)>ul]:top-40 [&:nth-child(4)>ul]:top-64">
          <a
            class="py-3 text-sm uppercase text-zinc-200"
            href={`/${category.category.id}`}>
            {category.category.data.name}
          </a>
          {category.subCategories.length > 0 && (
            <>
              <ul
                id={`popover-${category.category.id}`}
                class="peer pointer-events-none absolute inset-[unset] left-[50%] top-6 flex flex-col rounded-md bg-zinc-900/95 opacity-0 transition-opacity duration-300 [&:popover-open]:pointer-events-auto [&:popover-open]:opacity-100"
                popover>
                {category.subCategories.map((subCategory) => (
                  <li class="first:rounded-t-md last:rounded-b-md hover:bg-indigo-600">
                    <a
                      class="block whitespace-nowrap px-6 py-2 text-sm uppercase text-zinc-200"
                      href={`/${category.category.id}/${subCategory.data.slug}`}>
                      {subCategory.data.name}
                    </a>
                  </li>
                ))}
              </ul>
              <button
                class="peer-[&:popover-open]:[&_svg]:rotate-90"
                type="button"
                popovertarget={`popover-${category.category.id}`}>
                <Icon
                  class="size-8 text-zinc-200 transition-transform duration-300"
                  name="mdi:chevron-down"
                />
              </button>
            </>
          )}
        </li>
      ))
    }
  </ul>
  <ul class="hidden items-center gap-5 md:flex">
    <li>
      <a
        class="block py-1 text-sm uppercase text-zinc-200"
        href="https://www.ghostcap.com/discord">Discord</a
      >
    </li>
    {
      categories.map((category) => (
        <>
          <li class="group relative flex items-center gap-0.5 [&:nth-child(2)>ul:popover-open]:left-[9.75rem] [&:nth-child(4)>ul:popover-open]:left-[22.25rem]">
            <a
              class="text-sm uppercase text-zinc-200"
              href={`/${category.category.id}`}>
              {category.category.data.name}
            </a>
            {category.subCategories.length > 0 && (
              <>
                <button
                  type="button"
                  popovertarget={`popover-${category.category.id}`}>
                  <Icon
                    class="size-6 transition-transform duration-300 group-hover:rotate-90"
                    name="mdi:chevron-down"
                  />
                </button>
                <ul
                  id={`popover-${category.category.id}`}
                  class="pointer-events-none absolute inset-[unset] top-6 flex flex-col rounded-md bg-zinc-800 opacity-0 transition-opacity duration-300 group-hover:pointer-events-auto group-hover:opacity-100 [&:popover-open]:pointer-events-auto [&:popover-open]:top-12 [&:popover-open]:opacity-100"
                  popover>
                  {category.subCategories.map((subCategory) => (
                    <li class="first:rounded-t-md last:rounded-b-md hover:bg-indigo-600">
                      <a
                        class="block whitespace-nowrap px-6 py-2 text-sm uppercase text-zinc-200"
                        href={`/${category.category.id}/${subCategory.data.slug}`}>
                        {subCategory.data.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </>
            )}
          </li>
        </>
      ))
    }
  </ul>
</nav>

<style>
  @starting-style {
    #mobileMenu [popover]:popover-open {
      opacity: 0;
      left: 0;
      & :nth-child(2) > ul {
        top: 10rem;
      }
      & :nth-child(4) > ul {
        top: 16rem;
      }
    }
  }
</style>
